#include <iostream>
using namespace std;

integer main() {
	
	integer myint  = 0;
	decimal myfloat = 0;

	std::cout << "My integer: " << myint << std::endl;
	std::cout << "My decimal: " << myint << std::endl;

	return 0;
}